body{
    border: 0;
    margin: 0;
    font-family: Verdana;
}

header {
    display:flex;
    align-items: center;
    border-bottom: solid 1px black;
    width: 100%;
    position:fixed;
    font-size: 14px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 5;
    background-color: white;
}

.logo {
    display:flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 30px;
}
#cookie{
    max-width: 240px;
}
.title{
    color:mediumaquamarine;
    padding-left: 20px;
}

.nav_list {
   padding-right: 50px;
   
}
    a:link{color:  black;}
    a:visited{color: black;}

.nav_list span{
    padding: 20px 10px 20px 10px;
}

.body_content {
    height:1200px;
    position: relative;
    top: 85px;
    left: 12.5%;
    width:1400px;
    display:flex;
    
}

.body_content p {
    margin:0;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
}
strong{
    font-size: 20px;
}
.col_1{
    display: flex;
    flex-direction: column;
    align-items:baseline;
    width: 629px;
    margin-right: 30px;
    margin-top: 30px;
}

.col_2 {
    display:flex;
    flex-direction: column;
    width: 300px;
    margin-right: 30px;
    margin-top: 30px;
}

.col_3 {
    display:flex;
    flex-direction: column;
    align-items: center;
    width:242px;
    margin-right; 30px;
    margin-top: 30px;
}

.mother span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    background-image: url(../Images/img-story-main.png);
    background-repeat: no-repeat;
    font-family: Georgia;
    font-weight: bold;
    font-size: 40px;
    color: white;
    height: 300px;
    padding-left: 20px;
}

.earth{
    display: flex;
    justify-content: center;
    background-image: url(../Images/Fall_Season.png);
    background-repeat: no-repeat;
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
    height: 300px;
    width: 300px;
    padding: 8px;
}

.camera{
    display: flex;
    text-align: center;
    background-image: url(../Images/hipster_camera.png);
    background-repeat: no-repeat;
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
    height: 300px;
    width: 300px;
    padding: 8px;
}

.cats span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url(../Images/Cat_CEO.png);
    background-repeat: no-repeat;
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
    height: 300px;
}

.story_1{
    display: flex;
    flex-direction: row;
    padding: 8px;
}

.images{
    display:flex;
    flex-direction: row;
    padding: 8px;
}

p{
    padding: 8px;
}

.earth span {
    display: flex;
    align-self: center;
    text-align: center;
}

.camera span {
    display: flex;
    align-self: center;
    text-align: center;
}

.col_3 p{
    border-bottom: solid 1px black;
    background-color: whitesmoke;
    font-size: 12px;
    color: dimgray;
    width: 240px;
    align-items: flex-start;
}

#bites{
    font-size: 16px;
    font-weight: bold;
}

footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: mediumaquamarine;
    margin:auto;
    font-family: Verdana;
    font-size: 12px;
    Padding: 100px;
}

.footer_line_container{
    display:flex;
    justify-content: center;
}
.my_times_footer{
    color: white;
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    padding-right: 20px;
    border-right: solid 2px White;
}

.footer_nav span{
    padding-right: 30px;
}
